#myDiv h1 {
    border: 2px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: blueviolet; /* Grey background color */
    padding: 5px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 25px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display:inline-flexbox; /* Make it into a block element to fill the whole list */
}
.updateButton {
    background-color:aqua;
    color: white;
    padding: 15px px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.deleteButton {
    background-color:aqua;
    border-style: solid;
    color: white;
    padding: 15px px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}